body {
    font-family: Arial, sans-serif;
    background-image: url('https://th.bing.com/th/id/R.8f28857b9e8d1e4446e49f74c2d0a9b6?rik=gg%2f331WOgtmOsA&pid=ImgRaw&r=0');
    background-size: cover; /* Para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}

li button {
    background-color: #f44336;
    padding: 5px;
    margin-left: 10px;
}

li button:hover {
    background-color: #da190b;
}
